<app-pending *ngIf="isPending"></app-pending>
<app-nav-list 
[title]="navTitle?.title" 
[subtitle]="navTitle?.subtitle" 
[dateRange]="dateRange" 
(onCreate)="createNew()"
(onRefresh)="initData(dateRange)"
(onSearch)="searchFilter($event)"
(onDateRange)="getDataByRange($event)" ></app-nav-list>





<div>
    <table mat-table [dataSource]="dataSource" matSort fxFill>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>>
            <td mat-cell *matCellDef="let row">
                <button mat-mini-fab (click)="edit(row.id)" matTooltip="Edytuj ID: {{row.id}} " [matTooltipPosition]="'right'">
                    <mat-icon >edit</mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="documentNo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Dok</th>>
            <td mat-cell *matCellDef="let row"> {{row.documentNo}}</td>
        </ng-container>     
    
        <ng-container matColumnDef="dataSprzedazy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Data sprzedaży</th>>
                <td mat-cell *matCellDef="let row"> {{row.dataSprzedazy}}</td>
        </ng-container>
    
        <ng-container matColumnDef="nabywca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nabywca</th>>
            <td mat-cell *matCellDef="let row"> {{row.nabywca}}</td>
        </ng-container>
    
        <ng-container matColumnDef="waluta">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Waluta</th>>
                <td mat-cell *matCellDef="let row"> {{row.waluta}}</td>
        </ng-container>
    
        <ng-container matColumnDef="netto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Netto</th>>
            <td mat-cell *matCellDef="let row"> {{row.netto}}</td>
        </ng-container>
    
        <ng-container matColumnDef="podatek">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Podatek</th>>
            <td mat-cell *matCellDef="let row"> {{row.podatek}}</td>
        </ng-container>    
        <ng-container matColumnDef="brutto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Brutto</th>>
                <td mat-cell *matCellDef="let row"> {{row.brutto}}</td>
        </ng-container>   
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator showFirstLastButtons></mat-paginator>
</div>

<!-- <app-invoice-buy-payment-remind></app-invoice-buy-payment-remind> -->

