<div fxLayout fxLayoutAlign="space-between center">
  <div class="mat-body-1">
    <div>netto:</div>
    <div>podatek:</div>
    <div>brutto:</div>
  </div>

  <div
    class="mat-body-2"
    fxLayout="column"
    fxLayoutAlign="start end"
    *ngIf="!isCorrection?.value"
  >
    <div>{{ current?.value?.total_netto | number: "1.2-2" }}</div>
    <div>{{ current?.value?.total_tax | number: "1.2-2" }}</div>
    <div>{{ current?.value?.total_brutto | number: "1.2-2" }}</div>
  </div>

  <div
    fxLayout
    fxLayoutAlign="space-between"
    fxFlex="30"
    *ngIf="isCorrection.value"
  >
    <div class="mat-body-2" fxLayout="column" fxLayoutAlign="start end">
      <div>{{ current?.value?.total_netto | number: "1.2-2" }}</div>
      <div>{{ current?.value?.total_tax | number: "1.2-2" }}</div>
      <div>{{ current?.value?.total_brutto | number: "1.2-2" }}</div>
    </div>
    <div
      class="mat-body-2"
      [style.color]="'blue'"
      fxLayout="column"
      fxLayoutAlign="start end"
    >
      <div>{{ original?.value?.total_netto | number: "1.2-2" }}</div>
      <div>{{ original?.value?.total_tax | number: "1.2-2" }}</div>
      <div>{{ original?.value?.total_brutto | number: "1.2-2" }}</div>
    </div>
    <div
      class="mat-body-2"
      [style.color]="'red'"
      fxLayout="column"
      fxLayoutAlign="start end"
    >
      <div>{{ corrections?.value?.total_netto | number: "1.2-2" }}</div>
      <div>{{ corrections?.value?.total_tax | number: "1.2-2" }}</div>
      <div>{{ corrections?.value?.total_brutto | number: "1.2-2" }}</div>
    </div>
  </div>
</div>
