<app-pending [isPending]="isPending"></app-pending>
<app-nav-detail
  *ngIf="!isPending"
  [navDetailInfo]="navDetailInfo"
  [rForm]="rForm"
  (navCancel)="navCancel()"
  (navDownload)="navDownload()"
  (navDelete)="navDelete()"
  (navSave)="navSave()"
></app-nav-detail>

<div *ngIf="!isPending">
  <app-creation-info [rForm]="creationInfo"></app-creation-info>
  <mat-card>
    <mat-card-title>
      <div>
        Informacje dotyczące ładunku nr:
        <strong>{{ rForm.value.loadNo }}</strong>
      </div>
      <div fxFlex></div>
      <div>
        <button mat-mini-fab matTooltip="Wroc do listy" routerLink="/ladunek">
          <mat-icon>navigate_before</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div fxLayout="row wrap">
        <mat-list fxFlex="50" fxFlex.xs="100" fxFlex.gt-md="33">
          <mat-list-item>
            <div>Zakup</div>
            <div fxFlex></div>
            <mat-checkbox
              [checked]="rForm.value.loadId"
              [disabled]="true"
            ></mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <div>TransEu (baza)</div>
            <div fxFlex></div>
            <mat-checkbox
              [checked]="rForm.value.transEu.loadTransEuId"
              [disabled]="true"
            ></mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <div>TransEu (oferta)</div>
            <div fxFlex></div>
            <mat-checkbox
              [checked]="rForm.value.transEu.transEuId"
              [disabled]="true"
            ></mat-checkbox>
          </mat-list-item>
          <mat-list-item>
            <div>Sprzedaż</div>
            <div fxFlex></div>
            <mat-checkbox
              [checked]="rForm.value.sell?.loadSellId"
              [disabled]="true"
            ></mat-checkbox>
          </mat-list-item>
        </mat-list>

        <mat-list fxFlex="50" fxFlex.xs="100" fxFlex.gt-md="33">
          <mat-list-item *ngIf="rForm.value.sell.loadSellId">
            <div>Wartość sprzedaży</div>
            <div fxFlex></div>
            <div>
              PLN
              <strong>{{
                buyingInfoPrice.value.pln_value -
                  sellingInfoPrice.value.pln_value | number: "1.2"
              }}</strong>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="loadExtraInfo.value.invoiceBuyId">
            <div>Faktura zakupu</div>
            <div fxFlex></div>
            <div>
              <strong
                [style.cursor]="'pointer'"
                routerLink="/fakturaZakupu/{{
                  loadExtraInfo.value.invoiceBuyId
                }}"
                >{{ loadExtraInfo.value.invoiceBuyNo }} ({{
                  loadExtraInfo.value.invoiceBuyRecived ? "OK" : "!"
                }})</strong
              >
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="isSell">
            <div>Faktura sprzedaży</div>
            <div fxFlex></div>
            <div>
              <strong
                [style.cursor]="'pointer'"
                routerLink="/fakturaSprzedazy/{{
                  loadExtraInfo.value.invoiceSellId
                }}"
                >{{ loadExtraInfo.value.invoiceSellNo }}</strong
              >
              <button
                (click)="invoiceSellGen()"
                *ngIf="!loadExtraInfo.value.invoiceSellId"
                mat-mini-fab
                matTooltip="generuj numer faktury"
              >
                <mat-icon>fiber_new</mat-icon>
              </button>
            </div>
          </mat-list-item>
          <mat-list-item *ngIf="loadExtraInfo.value.cmrRecived">
            <div>CMR</div>
            <div fxFlex></div>
            <div>
              <strong
                >{{ loadExtraInfo.value.cmrName }},
                {{
                  loadExtraInfo.value.cmrRecivedDate | date: "yyyy-MM-dd"
                }}</strong
              >
            </div>
          </mat-list-item>
        </mat-list>
      </div>

      <div>Faktura sprzedaży</div>
      <div fxLayout fxLayout="start center">
        <div>Generuj zlecenie (pdf)</div>
        <div fxFlex></div>
        <button
          *ngIf="rForm.value.sell?.loadSellId && rForm.pristine"
          mat-mini-fab
          (click)="offerGenPdf()"
        >
          <mat-icon>print</mat-icon>
        </button>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-horizontal-stepper *ngIf="!isPending" [linear]="true">
    <mat-step [stepControl]="buy">
      <ng-template matStepLabel>Zakup</ng-template>
      <app-load-buy
        #loadBuy
        [rForm]="rForm"
        [fb]="fb"
        [routeId]="routeId"
      ></app-load-buy>
    </mat-step>

    <mat-step [stepControl]="transEu">
      <ng-template matStepLabel>TransEU</ng-template>
      <div *ngIf="buyId.value">
        <app-load-trans-eu [rForm]="rForm" [fb]="fb"></app-load-trans-eu>
      </div>
    </mat-step>

    <mat-step [stepControl]="sell">
      <ng-template matStepLabel>Sprzedaż</ng-template>
      <app-load-sell [rForm]="rForm" [fb]="fb"></app-load-sell>
    </mat-step>
  </mat-horizontal-stepper>
</div>
