<div fxLayout="column" fxLayout.gt-sm="row wrap">

    <mat-card fxFlex="100" fxFlex.gt-lg="30">
        <mat-card-content>
            <div class="mat-body-1">
                <p>Klonuje wybrane faktury, tworząc nową/nowe z datą sprzedaży/wystawienia z formularza (termin
                    płatności zostaje zaktualizowany) Kolejność (od góry do dołu) determinuje przypisanie kolejnego
                    numeru faktury.</p>
                <p>Jeżeli w formularzu <strong>wprowadzono</strong> nazwę towaru/usługi, zostanie utworzony dokument z
                    <strong>tylko jedną pozycję faktury.</strong> Nazwa zostanie zaktualizowana natomiast pozostałe
                    wartości pozycji faktury pozostają bez zmian. <i>Nazwę można skopiować klikając na nazwie oryginalnej pozycji</i>
                </p>
                <p>Jeżeli w formularzu <strong>nie wprowadzimy</strong> nazwy towaru, wszystkie pozycje faktury
                    pozostaną skopiowane do nowej fv.</p>
                <p>Domyślnie pobierane są wszystkie faktury z poprzedniego miesiąca, wyświetlana jest tylko pierwsza
                    pozycja z każdej faktury.</p>
                <p>Faktury można dowolnie sortować (chwyć/przenieś) w panelu (1,2) lub utworzyć nową listę w panelu (2).</p>
            </div>
            <div fxLayout="row">
                <mat-form-field>
                    <input matInput placeholder="Data sprzedaży" [matDatepicker]="dpSell" [formControl]="dateOfSell">
                    <mat-datepicker-toggle matSuffix [for]="dpSell"></mat-datepicker-toggle>
                    <mat-datepicker #dpSell></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Data wystawienia" [min]="dateOfSell.value" [matDatepicker]="dpIssue"
                        [formControl]="dateOfIssue">
                    <mat-datepicker-toggle matSuffix [for]="dpIssue"></mat-datepicker-toggle>
                    <mat-datepicker #dpIssue></mat-datepicker>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field fxFill>
                    <textarea matInput placeholder="nazwa towaru/usługi" [formControl]="productName"></textarea>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>




    <mat-card fxFlex="100" [fxFlex.gt-sm]="50+ gapIfEmpty()" [fxFlex.gt-lg]="30 + gapIfEmpty()">
        <mat-card-actions>
            <button [disabled]="isPending" mat-raised-button *ngIf="invoiceList.length>0" (click)="save(invoiceList)"
                [matBadge]="invoiceList.length">Sklonuj
                listę faktur</button>
        </mat-card-actions>

        <mat-card-content cdkDropList #toCloneList="cdkDropList" [cdkDropListData]="invoiceList"
            [cdkDropListConnectedTo]="[restList]" (cdkDropListDropped)="drop($event)">
            <div *ngIf="invoiceList.length==0">
                chwyć i przeciągnij tutaj..
            </div>
            <div style="height: 25vh; overflow-y: auto">
                <div *ngFor="let inv of invoiceList" cdkDrag>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>drag_indicator</mat-icon>
                        <div>{{inv.documentNo}} | <strong>{{inv.nabywca}}</strong> | <i matTooltip="kliknij by skopiować nazwę towaru/usługi"
                                (click)="copyToProductName(inv.pozycjaFaktury)">{{inv.pozycjaFaktury}}</i> |
                            {{inv.brutto}}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    <mat-card fxFlex="100" [fxFlex.gt-sm]="50- gapIfEmpty()" [fxFlex.gt-lg]="30 - gapIfEmpty()">
        <mat-card-actions>
            <button [disabled]="isPending" mat-raised-button *ngIf="invoiceListRest.length>0" (click)="save(invoiceListRest)"
                [matBadge]="invoiceListRest.length">Sklonuj
                listę faktur</button>
        </mat-card-actions>

        <mat-card-content cdkDropList #restList="cdkDropList" [cdkDropListData]="invoiceListRest"
            [cdkDropListConnectedTo]="[toCloneList]" (cdkDropListDropped)="drop($event)">
            <div *ngIf="invoiceListRest.length==0">
                chwyć i przeciągnij tutaj..
            </div>
            <div style="height: 25vh; overflow-y: auto">
                <div *ngFor="let inv of invoiceListRest" cdkDrag>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon>drag_indicator</mat-icon>
                        <div>{{inv.documentNo}} | <strong>{{inv.nabywca}}</strong> | <i (click)="copyToProductName(inv.pozycjaFaktury)">{{inv.pozycjaFaktury}}</i>
                            | {{inv.brutto}}</div>
                    </div>
                    <hr>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>