<div [formGroup]="formGroup" fxLayout="row wrap">
    <mat-form-field>
        <mat-select placeholder="Załadunek/rozładunek" formControlName="loading_type">
          <mat-option [value]="'Załadunek'">Załadunek</mat-option>
          <mat-option [value]="'Rozładunek'">Rozładunek</mat-option>
        </mat-select>
    </mat-form-field>

    <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between">
      <mat-form-field>
        <input matInput type="datetime-local" formControlName="loading_date" placeholder="Data">
        <mat-error>Pole jest wymagane</mat-error>
      </mat-form-field>
      <app-geo [formGroup]="formGroup.get('geo')"></app-geo>
    </div>

  <app-address [formGroup]="formGroup.get('address')" fxFlex="100"></app-address>
  <mat-form-field fxFlex="100">
    <input matInput type="text" formControlName="info" placeholder="Dodatkowe info">
  </mat-form-field>
</div>