<app-pending *ngIf="isPending"></app-pending>
<app-nav-list 
[title]="navTitle?.title" 
[subtitle]="navTitle?.subtitle" 
(onCreate)="createNew()"
(onRefresh)="initData()"
(onSearch)="searchFilter($event)"
></app-nav-list>


<!-- <div form [formGroup]="rForm">
  <mat-form-field mat-no-float>
     <input matInput formControlName="searchFor" placeholder="Znaleziono {{dataObj?.length}}">
  </mat-form-field>
  <div *ngIf="searchForCtrl.pending">duuuupa</div>
</div> -->



<div>

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="companyId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>>
      <td mat-cell *matCellDef="let row">
          <button mat-mini-fab (click)="edit(row.companyId)"><mat-icon>edit</mat-icon> </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="vat_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NIP</th>>
      <td mat-cell *matCellDef="let row">{{row.vat_id}}</td>
    </ng-container>

    <ng-container matColumnDef="short_name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Skrot</th>>
      <td mat-cell *matCellDef="let row">{{row.short_name}}</td>
    </ng-container>
    
    <ng-container matColumnDef="addressList[0]addresCombined">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Adres</th>>
      <td mat-cell *matCellDef="let row">{{row.addressList[0].addressCombined}}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefon</th>>
      <td mat-cell *matCellDef="let row">{{row.telephone}}</td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="tableHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: tableHeaders;"></tr>

  </table>
  <mat-paginator #paginator></mat-paginator>
</div>

