<div mat-dialog-title>
  <div>
    <span>{{ data.title }}</span>
  </div>

  <div class="mat-body-2">
    {{ data.subtitle }}
  </div>
</div>
<mat-dialog-content fxLayout="column" [formGroup]="rForm$">
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="paymentDate"
      placeholder="Data wpłaty"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field *ngIf="data.isInfo" fxFill>
    <mat-label>Uwagi</mat-label>
    <input formControlName="info" matInput type="text" placeholder="Info" />
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button (click)="onNoClick()">Anuluj</button> -->
  <button mat-button [mat-dialog-close]="">Anuluj</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
