<app-pending [isPending]="isPending"></app-pending>
<mat-tab-group dynamicHeight>
  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="notConfirmed?.length"
        >&nbsp;Oczekujące&nbsp;&nbsp;</span
      >
    </ng-template>

    <p class="mat-subheader">
      Na liście znajdują się wszystkie faktury sprzedaży, które nie mają statusu
      potwierdzony odbiór przez nabywcę
    </p>

    <div fxLayout fxLayoutAlign="space-around center">
      <ng-template
        *ngTemplateOutlet="
          searchTemplate;
          context: {
            $implicit: notConfirmedSearch$
          }
        "
      ></ng-template>
      <ng-template
        *ngTemplateOutlet="
          genReport;
          context: { data: notConfirmed, title: 'status_platnosci_oczekujace' }
        "
      ></ng-template>
    </div>

    <cdk-virtual-scroll-viewport
      [itemSize]="itemSize"
      [style.minHeight.px]="itemSize * itemsOnViewport"
    >
      <ng-container
        *cdkVirtualFor="
          let g of notConfirmedFiltered;
          index as index;
          odd as isOdd;
          even as isEven
        "
        cdkVirtualForTemplateCacheSize="0"
      >
        <ng-container
          [style.min-height.px]="itemSize"
          *ngTemplateOutlet="
            basicInfo;
            context: { data: g, itemSize: itemSize }
          "
        ></ng-container>
      </ng-container>
    </cdk-virtual-scroll-viewport>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="unpaid?.length"
        >&nbsp;Należności niewymagalne&nbsp;</span
      >
    </ng-template>

    <div *matTabContent>
      <p class="mat-subheader">
        Lista należności, faktury otrzymane przez nabywcę, termin płatności nie
        został przekroczony <strong>niewymaglane</strong>
      </p>
      <p>
        Data jest określona jako data sprzedaży plus ilość dni z terminu
        płatności. W przypadku faktur transportowych, termin płatności określony
        jest jako data otrzymania potwierdzenia faktury (przez nabywcę)
        powiększona o ilość dni z warunków płatności.
      </p>
      <div fxLayout fxLayoutAlign="space-around center">
        <ng-template
          *ngTemplateOutlet="
            searchTemplate;
            context: {
              $implicit: unpaidSearch$
            }
          "
        ></ng-template>
        <ng-template
          *ngTemplateOutlet="
            genReport;
            context: { data: unpaid, title: 'status_platnosci_niewymagalne' }
          "
        ></ng-template>
      </div>

      <cdk-virtual-scroll-viewport
        #viewport
        [itemSize]="itemSize"
        [style.minHeight.px]="itemSize * itemsOnViewport"
      >
        <ng-container
          *cdkVirtualFor="
            let g of unpaidFiltered;
            index as index;
            odd as isOdd;
            even as isEven
          "
          cdkVirtualForTemplateCacheSize="0"
        >
          <ng-container
            [style.min-height.px]="itemSize"
            *ngTemplateOutlet="
              basicInfo;
              context: { data: g, itemSize: itemSize }
            "
          ></ng-container>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template matTabLabel>
      <span [matBadge]="unpaidOverdue?.length"
        >&nbsp;Należności przeterminowane&nbsp;</span
      >
    </ng-template>

    <div *matTabContent>
      <p class="mat-subheader">
        Lista należności przeterminowanych, faktury otrzymane przez nabywcę,
        termin płatności został PRZEKROCZONY.
      </p>
      <p>
        Data jest określona jako data sprzedaży plus ilość dni z terminu
        płatności. W przypadku faktur transportowych, termin płatności określony
        jest jako data otrzymania potwierdzenia faktury (przez nabywcę)
        powiększona o ilość dni z warunków płatności.
      </p>
      <div fxLayout fxLayoutAlign="space-around center">
        <ng-template
          *ngTemplateOutlet="
            searchTemplate;
            context: {
              $implicit: unpaidOverdueSearch$
            }
          "
        ></ng-template>
        <ng-template
          *ngTemplateOutlet="
            genReport;
            context: {
              data: unpaidOverdue,
              title: 'status_platnosci_przeterminowane'
            }
          "
        ></ng-template>
      </div>

      <cdk-virtual-scroll-viewport
        [itemSize]="itemSize"
        [style.minHeight.px]="itemSize * itemsOnViewport"
      >
        <ng-container
          *cdkVirtualFor="
            let g of unpaidOverdueFiltered;
            index as index;
            odd as isOdd;
            even as isEven
          "
          cdkVirtualForTemplateCacheSize="0"
        >
          <ng-container
            [style.min-height.px]="itemSize"
            *ngTemplateOutlet="
              basicInfo;
              context: { data: g, itemSize: itemSize }
            "
          ></ng-container>
        </ng-container>
      </cdk-virtual-scroll-viewport>
    </div>
  </mat-tab>

  <mat-tab label="Statystyki">
    <div fxLayout="row wrap" fxLayoutGap="15px">
      <ng-container
        *ngTemplateOutlet="
          stats;
          context: { $implicit: notConfirmedStats, title: 'Oczekujące' }
        "
      ></ng-container>

      <ng-container
        *ngTemplateOutlet="
          stats;
          context: {
            $implicit: unpaidStats,
            title: 'Należności niewymagalne'
          }
        "
      ></ng-container>

      <ng-container
        *ngTemplateOutlet="
          stats;
          context: {
            $implicit: unpaidOverdueStats,
            title: 'Należności  przeterminowane'
          }
        "
      ></ng-container>

      <div class="stats-card">
        <button (click)="initData()" mat-raised-button color="accent">
          Odśwież dane
        </button>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Potwierdzenia">
    <p>Wyszukiwanie spośród wszystkich płatności</p>

    <ng-container
      *ngTemplateOutlet="
        searchTemplate;
        context: { $implicit: confirmationSearch$ }
      "
    ></ng-container>

    <ng-container
      *ngFor="
        let g of confirmationsFiltered;
        index as index;
        odd as isOdd;
        even as isEven
      "
    >
      <ng-container
        *ngTemplateOutlet="basicInfo; context: { data: g, itemSize: itemSize }"
      >
      </ng-container>
    </ng-container>
  </mat-tab>
</mat-tab-group>

<ng-template #basicInfo let-g="data" , let-itemSize="itemSize">
  <div
    [style.min-height.px]="itemSize"
    fxLayout
    fxLayoutAlign="space-between center"
    class="basic-info-container"
  >
    <div fxLayout fxLayoutGap="15px" fxLayoutAlign="start center">
      <div>
        <a [routerLink]="['/invoices/fakturaSprzedazy', g.invoiceId]">
          <button
            mat-mini-fab
            matTooltip="Przejdź do faktury id: {{ g.invoiceId }}"
          >
            <mat-icon>zoom_in</mat-icon>
          </button>
        </a>
      </div>
      <div fxLayout="column">
        <div>
          <strong>{{ g.paymentDate | date: "yyyy-MM-dd" }}</strong>
          <small>
            &nbsp;&nbsp;
            <i>
              {{ g.invoiceNo }}
            </i>
            &nbsp;&nbsp;
            <strong>
              {{ g.company.shortName }}
            </strong>
            &nbsp;({{ g.company.vatId }})
          </small>
        </div>
        <h4 class="mat-h4">
          <small>data sprzedaży:&nbsp;</small
          >{{ g.dateOfSell | date: "yyyy-MM-dd" }} ||
          <small>data wystawienia:&nbsp;</small
          >{{ g.dateOfIssue | date: "yyyy-MM-dd" }}
        </h4>
        <h3 class="mat-h3">
          {{ g.invoiceTotal.total_netto | number: "1.2-2" }} |
          {{ g.invoiceTotal.total_tax | number: "1.2-2" }} |
          <strong>
            {{ g.invoiceTotal.total_brutto | number: "1.2-2" }}
            {{ g.currency.name }}
            <span
              [style.color]="'red'"
              *ngIf="g.invoiceTotal.total_brutto != g.invoiceValue"
              >({{ g.correctionPaymenntInfo }})</span
            >
          </strong>
        </h3>
        <h5 class="mat-h5">
          {{ g.company.address }}
          <span *ngIf="g.company.contact"
            >|&nbsp;&nbsp;{{ g.company.contact }}&nbsp;</span
          >
        </h5>
        <h6 class="mat-h6" mat-line *ngFor="let bank of g.company.bankAccounts">
          {{ bank }}
        </h6>
      </div>
    </div>

    <div
      fxLayout="column"
      fxLayout.gt-xs="row"
      fxLayoutGap="5px"
      fxLayoutAlign="center center"
    >
      <div
        class="small-indicators"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <ng-container *ngIf="g.isTransportOrLoadInvoice">
          <div
            class="color-warn pointer"
            (click)="confirmCmr(g)"
            *ngIf="!g.isCmrReceived; else cmrConfirmed"
          >
            CMR do potwierdzenia
          </div>
        </ng-container>

        <div
          class="color-warn pointer"
          (click)="confirmInvSent(g)"
          *ngIf="!g.isInvoiceSent; else invSentConfirmed"
        >
          FV NIE wysłana
        </div>
        <div
          class="color-warn pointer"
          (click)="confirmInvReceived(g)"
          *ngIf="!g.isInvoiceReceived; else invReceivedConfirmed"
        >
          FV NIE potwierdzona
        </div>
      </div>
      <div class="big-letter">
        <span *ngIf="g.isTransportOrLoadInvoice">(T)</span>
      </div>
      <div
        *ngIf="g.daysOverdue"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <div class="big-letter overdue">
          <span>{{ g.daysOverdue }}</span>
        </div>
        <div>
          <span *ngIf="g.daysOverdue === 1; else dniContent">dzień</span>
        </div>
      </div>
      <div>
        <button
          mat-mini-fab
          (click)="confirmPayment(g)"
          matTooltip="Wprowadź datę zapłaty"
        >
          <mat-icon>euro_symbol</mat-icon>
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #dniContent> dni </ng-template>

<ng-template #cmrConfirmed let-g>
  <div class="color-ok">CMR, OK!</div>
</ng-template>

<ng-template #invSentConfirmed>
  <div class="color-ok">FV wysłana, OK!</div>
</ng-template>

<ng-template #genReport let-data="data" let-title="title">
  <div>
    <button (click)="genCsvReport(title, data)" mat-raised-button>
      Generuj CSV
    </button>
  </div>
</ng-template>

<ng-template #invReceivedConfirmed>
  <div class="color-ok">FV odebrana, OK!</div></ng-template
>

<ng-template #searchTemplate let-searchFormControl>
  <div class="search-container">
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="search"
        [formControl]="searchFormControl"
        matInput
        placeholder="Wyszukaj kontrahenta"
      />
    </mat-form-field>
  </div>
</ng-template>

<ng-template #stats let-data let-title="title">
  <div fxFlex="100" fxFlex.gt-xs="45" class="stats-card">
    <mat-card>
      <mat-card-title> {{ title }} </mat-card-title>
      <mat-card-content>
        <div *ngFor="let curr of data; last as isLast">
          <h4 class="mat-h4">
            <small>
              <i>
                {{ curr.total.total_netto | number: "1.2-2" }} (vat:
                {{ curr.total.total_tax | number: "1.2-2" }})&nbsp;&nbsp;
              </i>
            </small>
            <strong>{{ curr.total.total_brutto | number: "1.2-2" }}</strong>
            {{ curr.currency.name }}
            <span
              [style.color]="'red'"
              *ngIf="curr.total.total_brutto != curr.invoiceValue"
              >({{ curr.invoiceValue | number: "1.2-2" }})</span
            >
          </h4>
          <mat-divider *ngIf="!isLast"></mat-divider>
          <div>&nbsp;</div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>
