<mat-expansion-panel>
  <mat-expansion-panel-header>
      <mat-panel-title>Opcje zaawansowane</mat-panel-title>
  </mat-expansion-panel-header>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxLayout="column" fxLayoutAlign="space-around start">
          <div>
              <button mat-raised-button (click)="genRaport()">Generuj raport (CSV)</button>
          </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="space-around start">
          <div>
              zmień kolejność kolumn (chwyć, przenieś)
          </div>
          <div cdkDropList (cdkDropListDropped)="drop($event)" fxLayout="column" fxLayoutAlign="space-between start">
              <div *ngFor="let column of displayedColumns" cdkDrag>
                  <div>
                      <mat-icon>drag_indicator</mat-icon>
                      {{column}}
                  </div>
              </div>
          </div>
      </div>
  </div>
</mat-expansion-panel>