<div fxLayout>
  <mat-form-field>
    <input
      type="text"
      matInput
      [(ngModel)]="searchText"
      (ngModelChange)="searchTextChange($event)"
      placeholder="Nawigacja, wyszukaj"
    />
  </mat-form-field>
</div>

<div style="overflow-y: auto">
  <mat-nav-list #mSelect>
    <mat-list-item (click)="sideNavShut()" routerLink="home">
      <div matLine>Start</div>
      <div matLine></div>
    </mat-list-item>
    <ng-container *ngFor="let r of routes; let last = last">
      <a [routerLink]="[r.route]">
        <mat-list-item (click)="sideNavShut()">
          <div class="mat-h3" matLine>{{ r.name }}</div>
          <div class="mat-body-1" matLine>{{ r.description }}</div>
        </mat-list-item>
      </a>
    </ng-container>
  </mat-nav-list>
</div>
