<div class="currency-container" fxLayout="row wrap" fxLayoutAlign="start">
  <mat-form-field>
    <input
      matInput
      type="number"
      [placeholder]="placeholder"
      [formControl]="price"
      min="0"
    />
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Data kursu"
      [max]="maxDate"
      [matDatepicker]="dp"
      [formControl]="rateDate"
    />
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp="matDatepicker"></mat-datepicker>
  </mat-form-field>

  <app-currency-list
    [controlContainerParentRef]="currencyParentRef"
    controlContainerRef="currency"
    [formData]="currencyData"
  ></app-currency-list>

  <ng-container *ngIf="isExchangeInfo">
    <mat-form-field *ngIf="rate?.value > 0">
      <input matInput disabled placeholder="kurs" value="{{ rate?.value }}" />
    </mat-form-field>

    <mat-form-field *ngIf="rate?.value > 0">
      <input
        matInput
        disabled
        placeholder="wartość PLN"
        [value]="plnValue?.value"
      />
    </mat-form-field>

    <div fxFlex="100">
      <p class="mat-caption">
        <em>{{ combinedInfo }}</em>
      </p>
    </div>
  </ng-container>

  <div *ngIf="reactiveForm.pending">
    <img class="loader" src="assets/loader-07.svg" alt="nbp-loader" />
  </div>
</div>
