<div fxLayout fxLayoutAlign="start center">
    <div fxLayoutWrap fxLayoutAlign="start end">
          <mat-form-field>
            <mat-select placeholder="Rodzaj płatności" [(ngModel)]="selectedTerm" (change)="paymentTermChanged()" #paymentTerms="matSelect" [compareWith]="compareWith">
              <mat-option *ngFor="let p of paymentTermsArr" [value]="p">
                {{p.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        
          <div [formGroup]="rForm" fxLayoutAlign="start end" fxLayout.xs="column">

            <mat-form-field *ngIf="selectedTerm.isPaymentDate">
              <input type="number" matInput formControlName="paymentDays" placeholder="Ile dni">
            </mat-form-field>
        
            <mat-form-field *ngIf="selectedTerm.isPaymentDate">
              <input [matDatepicker]="pDate" matInput placeholder="Termin płatności" formControlName="paymentDate">
              <mat-datepicker-toggle matSuffix [for]="pDate"></mat-datepicker-toggle>
              <mat-datepicker #pDate></mat-datepicker>
            </mat-form-field>
       
            <mat-form-field *ngIf="selectedTerm.isDescription">
              <input type="text" matInput formControlName="description" placeholder="Opis">
            </mat-form-field>
          </div>
        </div>

        <mat-icon *ngIf="rForm.invalid" color="warn">info</mat-icon>
</div>
